.team .background {
  background-color: #f4f4f4;
  padding: 50px 0;
}

.team .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team .box {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid rgba(62, 28, 131, 0.1);
  padding: 2rem;
  transition: 0.5s;
  margin: 10px;
  max-width: 300px;
}

.team .box:hover {
  box-shadow: 0 0 20px 0 rgba(112, 121, 138, 0.18);
  cursor: pointer;
}

.team .details {
  text-align: center;
  margin-top: 10px;
}

.team .img {
  width: 150px;
  height: 150px;
  margin: auto;
  position: relative;
}

.team img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.team .img i {
  color: #2099f5;
  font-size: 17px;
  position: absolute;
  top: 130px;
  right: 62px;
}

.team .img::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 160px;
  height: 160px;
  border: 5px solid #87898b;
  border-radius: 50%;
}

.team label {
  display: inline-block;
  margin-top: 20px;
}

.team i {
  color: grey;
  margin-right: 5px;
}

.team ul {
  display: inline-block;
  margin-top: 10px;
}

.team ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  align-items: center;
  background-color: #f4f5f7;
  border-radius: 50%;
  margin: 5px;
}

.team .button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team .button button {
  width: 120px; /* Width of the button */
  height: 30px; /* Height of the button */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding: 0 10px;
  background-color: #000000;
  border-radius: 10px;
  color: #fff;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;
}

.team .button button .whatsapp-icon {
  width: 15px;
}

.team .button button .whatsapp-icon path {
  fill: #00ce3e;
}

.team .button button .arrow {
  position: absolute;
  right: 0;
  width: 30px;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .button button:hover {
  background-color: #4d4d4d;
  transition-duration: 0.2s;
}

.team .button button:hover .arrow {
  animation: slide-right 0.6s ease-out both;
}

.team .button button:active {
  transform: translate(1px, 1px);
  transition-duration: 0.2s;
}

@keyframes slide-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.container01 {
  padding: 5px;
  background-color: #1d2636;
  border-radius: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  text-align: center;
  font-size: xx-large;
}

.container001 {
  padding: 5px;
  background-color: #1d2636;
  color: #afafaf;
  text-align: center;
  font-size: small;
}
