.hero {
  background-image: url("../../../../public/images/banner2b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero .box {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.hero .title {
  position: relative;
  margin-bottom: 20px;
}

.hero .title .block {
  width: 0%;
  height: 100%;
  background: #ffb510;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
}

.hero .title h1 {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 32px;
  position: relative;
  opacity: 0;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  -webkit-text-stroke: 1px #000000; 
  font-weight: bold;
}

.hero .title h1 span {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #ffb510;
  animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 2s;
  position: absolute;
  bottom: 13px;
  right: -12px;
}

.hero .role {
  position: relative;
}

.hero .role .block {
  width: 0%;
  height: 100%;
  background: #a30c0c;
  position: absolute;
  animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 2s;
}

.hero .role p {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: #5a5a5a;
 /* -webkit-text-stroke: .5px #000000; */
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0;
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  font-weight: bolder;
  
}
.hero .role p {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: #5a5a5a;
 /* -webkit-text-stroke: .5px #000000; */
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0;
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  font-weight: bolder;
  
}
.p2 {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: #5a5a5a;
 /* -webkit-text-stroke: .5px #000000; */
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0;
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  font-weight: bolder;
  
}
@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    opacity: 1;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
